*{
    margin: 0%;
    padding: 0%;
}
.main{
  width: 100%;
  background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(../img/unnamed.jpg);
  background-position:center;
  height: 150vh;

}
.navebar{
     width: 1200px;
     height: 70px;
    margin: auto;
}
.icon{
     width: 150px;
     float: left;
     height: 70px;
}
.logo{
     color: rgb(195, 175, 27);
     font-size: 35px;
     font-family: Arial;
     padding-left: 100px;
     padding: 10px;
    }
.menu{
     float: left;
     height: 70px;
     width: 500px;
}
ul{
     float: left;
     display: flex;
     justify-content: center;
     align-items: center;
}
ul li{
     list-style: none;
     margin-left: 60px;
     margin-top: 20px;
     font-size: 14px;  
}
ul li a{
     text-decoration: none;
     color:white;
     font-family: Arial;
     font-weight: bold;
}
ul li :hover{
     color:orange;
     transition: 0.4s ease-in-out;
}
.search{
     width: 300px;
     float: left;
     margin-left: 250px;
}
.srch{
     font-family: 'Times New Roman';
     width: 200px;
     height: 40px;
     background: transparent;
        border: 1px solid orange;
        margin-top: 13px;
        color: white;
        border-right: none;
        font-size: 16px;
        float: left;
        padding: 10px;
        border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px; 
    }
    .btn{
        width: 100px;
        height: 40px;
        background-color: orange;
        margin-top: 13px;
        color: white;
        font-size: 16px;
        border-bottom-right-radius: 5px; 
        border-bottom-right-radius: 5px; 
    }
    .btn:focus{
        outline: none; 
    }
    .srch:focus{
        outline: none;
     }
     .image-container{
          display: flex;
          width: 10px;
          color: orange;
          cursor: pointer;
          
      
      }
      
      .types1{
          padding: 30px;
          justify-content: center;
      
      }
      .image-container1{
          display: flex;
          width: 20px;
          cursor: pointer;
          
      }
      .types2{
          padding: 30px;
          justify-content: center;
          color: orange;
          font-family: 'Times New Roman';
      }
      h4{
          color: white;
          font-family:  Arial, sans-serif;
      }
      a.image-container-a{
          color: rgb(146, 200, 30);
          cursor: pointer;
          
      }
      a.image-container-a:hover{
          color: orange;
      }
      .image-container .types1 a{
        text-decoration: none;
      }
      .image-container1 .types2 a{text-decoration: none;

      }
      .work1{
        width: 400px;
        padding: 30px;
      }
      